h1 {
  font-family: helvetica;
  font-weight: 200;
}

.navbar-default {
    background-color: #000000;
    opacity: 0.8;
}

.navbar-btn {
  color: red;
}

.masthead {
  background-image: url('http://i.imgur.com/ul2jek9.jpg')
}

.masthead-text {
  color: white;
}
